*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  padding: 0 8px 0 30px;
  min-height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  position: relative;
  min-width: 410px;
  max-height: 302px;
  overflow: hidden auto;
}

.content__list::-webkit-scrollbar {
  width: 10px;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-top: 75px;
  margin-bottom: 18px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  margin: 2px;
  padding: 1px;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.content__video-card-description-container h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description-container p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.content__video-card:hover .content__video-card-description-container {
  text-decoration: underline;
}

.content__list-item:active .content__video-card-description-container {
  text-decoration: none;
}

.content__list-item:active .content__video-card {
  background-color: #545050;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 4px;
}

.title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid #fff;
  border-radius: 0;
  outline-offset: 1px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-description::first-letter {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  height: 27px;
  width: 225px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #fff transparent;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: inherit;
  font-size: inherit;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border-color: #fff;
  outline: none;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  outline: none;
}

label .search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 21.6px;
  color: #fff;
  appearance: none;
  height: 34px;
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 98%;
  margin: 2px;
}
